.btn,
.btn button,
.btn_blue,
.woocommerce a.button
    padding 9px 21px
    display inline-block
    vertical-align top
    background #9c9fa3
    color #fff
    outline none
    transition .3s
    font-size 17px
    font-weight normal
    cursor pointer
    &:hover
        background #a4a7ab
    &:focus
        background #8d9094
    &:active
        background #9c9fa3

.right-24
    margin-right 24px

.btn_blue,
.woocommerce a.button
    background #92a8d1
    &:hover
        background #8daae0
        color #FFF
    &:focus
        background #83a0d6
    &:active
        background #7c9fe0

button.btn
    border none

.woocommerce a.button.product__btn-buy.added,
.woocommerce a.button.product__btn-buy.loading
    &:after
        vertical-align: middle;
        font-size: 20px;
        margin-left: 0.83em;

.woocommerce a.button.product__btn-buy.loading
    opacity: 1;
    padding-right: 1em;
    background: #7c9fe0;
    &:after
        margin: 3px;