.contacts__item
    width 32.777777777778%
    display inline-block
    vertical-align top
    margin 20px 0 40px 0
    word-wrap: break-word;
    &:not(:nth-of-type(3n))
        margin-right 0.833333333333%
    a
        border-bottom 1px solid #806570
        transition-property color,border-color
        transition-duration 0.4s
        transition-timing-function ease
        display inline-block
        vertical-align middle
        line-height 1
        &:hover,
        &:active,
        &:focus
            border-bottom-color transparent
    .ajax-loader
        padding: 12px;

.contacts__title
    font-family: 'MintTypeRistrettoSlabProRegular', sans-serif;
    font-size: 48px;
    letter-spacing: 0.02em;
    text-transform uppercase
    
.contacts__content
    font-family 'MyriadPro-Cond'
    font-size 19px
    letter-spacing 0.02em

.btn_submit
    border none
    cursor pointer

.contacts__item_form
    margin-bottom 80px


.wpcf7
    font-size 17px
