.footer__menu
    font-size 0
    ul
        margin 0
        padding 0
    li
        display inline-block
        vertical-align top
        list-style none
        &:not(:last-child)
            margin-right 55px
    a
        font-size 20px
        color $eggplant
        border-bottom 1px solid $eggplant
        transition-property color,border-color
        transition-duration 0.4s
        transition-timing-function ease
        display block
        line-height: 1;
        &:hover,
        &:active,
        &:focus
            border-bottom-color transparent
