.admin-bar
    .header-top
        &.fixed
            top -28px
.header-top
    background $light-pink-taper
    font-size 0
    padding: 10px 0;
    min-height: 60px;
    &.fixed
        transition: all .5s ease-in-out;
        position fixed
        width: 100%;
        z-index: 20;
        top: -60px;
        transform: translate(0,60px);
        min-width 1200px
        .header-top-menu
            display block
            max-width none
            a
                font-family 'MyriadPro-BoldCond', sans-serif
                font-size 20px
                font-weight normal
                letter-spacing 0.1px
        .header-top__city,
        .header-top__address
            display none
        .header-top__item
            &:first-child
                position relative
                margin-bottom 2px
                padding-left 265px
                width 630px
            &:last-child
                width 570px
        .header-top__mini-logo
            display block
            sprite($s-logo-mini)
            position absolute
            top -17px
            left 0
        .header-top__number-phone
            font-size 24px
            margin-top: 10px;
        .header-top__cart-inner
            top 9px
            .header-top__cart
                margin-right 1px
                font-size 19px
        .header-top__cart
            top 7px
            margin-right 30px
            margin-top 3px
        .header-top__phone-call
            margin 1px 0 0px -4px
        .header__link
            font-size 18px
            &._type_search
                margin-top 4px
        .header-top-menu li:not(:last-child)
            margin-right 31px

.header-top__mini-logo
    display none

.header-top__item
    display inline-block
    vertical-align middle            
    font-size 19px    
    &._type_location
        margin-top 7px
        width 45%        
    &._type_info
        position relative
        margin -7px -2px 0 0
        width 644px
        text-align right
	
.header-top__city
    float left
    margin-left -2px
    line-height 22px
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

.header-top__address
    margin-left 4px
    display inline-block    
    width 65%
    height 23px    
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.header-top__phone-call
    position absolute
    width 227px
    top 8px
    left 169px
    padding 6px 10px
    width 227px
    height 34px
    color #FFF
    text-align right
    background $pink
    border none
    font-family 'MyriadPro-Cond', sans-serif 
    font-size 19px;
    outline none
    cursor pointer   
    &:hover
        background #e84243
    &:focus
        background #e23c3e
    &:active
        background #f14c4d
        
.header-top__phone-icon
    position absolute
    left 8px
    display inline-block
    width 21px
    height 22px
    sprite($s-phone)

.header-top__number-phone
    display inline-block    
    position: relative
    margin-top 11px
    text-overflow: ellipsis;
    overflow: hidden;    
    vertical-align middle
    white-space: nowrap;
    max-width: 50%;
    font-size 35px
    line-height 31px
    letter-spacing: 0.4px;
    font-family 'MyriadPro-BoldCond', sans-serif
    font-weight normal
    color $eggplant 
    span
        &:before,
        &:after
            position relative
            top -2px
        &:before
            content '('
        &:after
            content ')'

.header__link
    border-bottom 1px solid #806570
    transition-property color, border-color
    transition-duration 0.4s
    transition-timing-function ease
    color $eggplant
    max-width: 27%;
    word-wrap: break-word;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    cursor pointer
    margin-right 20px
    &._type_search
        max-width none
    &:hover,
    &:active,
    &:focus
        border-bottom-color transparent

.header-top__cart-inner    
    position absolute
    left -2px;
    top 8px    
    width 137px
    height 34px
    display inline-block        
    background-color #92a8d1
    
.header-top__cart-icon
    position absolute
    top 4px
    left 10px
    display inline-block
    width 29px
    height 23px
    sprite ($s-cart)
    
.header-top__cart
    margin-right 0
    max-width none
    position absolute
    top 10px
    left 45px
    border-bottom none
    font-family 'MyriadPro-Cond', sans-serif
    color #fff
    font-size 20px       
    line-height 14px
    text-decoration none    
    