.header
    font-size 0
    margin: 27px auto 40px auto;

.header__item
    display inline-block
    vertical-align top
    font-size 16px
    &:first-child
        width 40%
    &:last-child
        position relative
        padding-top 22px
        width 60%
        vertical-align bottom
        
.header__online
    position absolute
    left 117px
    bottom -21px
    color #96969a
    font-family 'MyriadPro-Cond'
    font-size 20px
    &:after
        content ""
        position absolute
        top 0px
        left -42px
        width 35px
        height 23px
        sprite($s-online)

.header__online-now
    color #f15d5e
    font-family 'MyriadPro-BoldCond'
    font-weight normal

.header_searchform
    position relative
