/*

====== Move-from-top effect ======

*/

.mfp-move-from-top {
    .mfp-content {
        vertical-align: top;
    }
    /* start state */

    .mfp-with-anim {
        opacity: 0;
        transition: all 0.2s;
        transform: translateY(-100px);
    }
    &.mfp-bg {
        opacity: 0;
        transition: all 0.2s;
    }
    /* animate in */

    &.mfp-ready {
        .mfp-with-anim {
            opacity: 1;
            transform: translateY(0);
        }
        &.mfp-bg {
            opacity: 0.8;
        }
    }
    /* animate out */

    &.mfp-removing {
        .mfp-with-anim {
            transform: translateY(-50px);
            opacity: 0;
        }
        &.mfp-bg {
            opacity: 0;
        }
    }
}

.mfp-bg
    background $eggplant
    opacity .75

.popup
    max-width 600px
    background $eggplant
    color #fff
    margin 60px auto
    padding 45px 45px 15px
    line-height: 1.3;
    p
        margin-bottom 20px
        +
            ul
                margin-top -13px
    ul
        margin 0
        padding 0
    li
        list-style none
        line-height: 1.3;
        font-size: 17px;
        position relative
        padding-left 10px
        &:before
            content '-'
            position absolute
            left 0
            top 0

.popup__title
    color $light-pink-taper
    font: normal 50px 'MintTypeRistrettoSlabProRegular', sans-serif;
    text-transform uppercase
    margin: 0 0 15px;
    line-height: 1.2;
    +
        .popup__subtitle
            margin-top 0

.popup__subtitle
    font-weight bold
    text-transform uppercase
    margin: 43px 0 25px
    letter-spacing: .01em;
    font-size 18px

.popup
    .mfp-close
        color $light-pink-taper
        opacity 1
        margin 10px


.popup
    &.delivery
        padding 45px
        .mfp-close
            margin 3px
        .select2-container
            position absolute
            width 85%!important
            .select2-choice
                padding 10px 8px
        #edostavka_map
            margin-top 50px

.popup_call-me
    background #fff
    max-width 360px
    font-size 27px
    text-align center
    padding 12px 16px 21px
    label
        display block
        font-size 0
        margin 0
    p
        margin 0
    .mfp-close
        display none
        color #eb5c62
    span
        &.wpcf7-not-valid-tip
            margin 5px 0 0
            text-align left
            padding 0 10px
            display block
            font-size 15px
    div
        &.wpcf7-response-output
            font-size 14px
            color #000
            padding 10px
            margin 15px 0 0

.popup_call-me input[type=text],
.popup_call-me input[type=email],
.popup_call-me input[type=number],
.popup_call-me input[type=password],
.popup_call-me input[type=tel],
.popup_call-me textarea
    padding 6px
    margin 17px 0 0
    width 100%

.popup_call-me__submit
    width 127px
    color #fff
    background #ff5d5e
    border none
    padding 5px 17px
    font-size 18px
    outline 0
    transition .3s
    cursor pointer
    text-align left
    margin-left 22px
    margin-top 17px
    &:hover
        background #e84243
    &:focus
        background #e23c3e
    &:active
        background #f14c4d
        
.popup_call-arrow
    position relative
    &:after
        content ""
        display inline-block
        height 17px
        width 23px
        sprite($s-btn-arrow-small)
        position absolute
        top 27px
        right 115px

.popup_call-me__title
    color #ff5d5e
    & + input[type=text]
        margin-top 12px

.popup_search
    position absolute
    width 360px
    top 0
    left -157px
    z-index 2000
    .search__form
        margin-bottom 0

    .search__field
        margin-bottom 17px
        width 100%

.popup_search-wrapper
    position relative
    top: -1px;
    display inline-block
    &._float_right
        float right
        margin-right 23px
        
.wpm-delivery-point-popup {
    position: relative;
}

.backscreen {
    display: none;
    background: rgba(45, 33, 72, 0.72);
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.wpm-popup-box {
    display: none;
    position: fixed;
    margin: auto;
    left: 0px;
    right: 0;
    top: 210px;
    z-index: 1000;
}

.form-group .select2-container {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table;
  table-layout: fixed;
}

.select2-search {
    padding-left: 0;
    padding-right: 0;
}

.wpm-close-map-popup {
    color: #ffcccb;
    font-size: 40px;
    font-style: normal;
    position: absolute;
    right: 14px;
    top: 0px;
    cursor: pointer;
}

.wpm-delivery-map {
    height: 450px;
    padding-top: 50px;
}
