.red-feature-box {
    background: #f15d5e;
    font-family: 'MintTypeRistrettoSlabProRegular';
    color: #fff;
    width: 192px;
    box-sizing: border-box;
    text-align: center;
    padding: 0 0 10px 0;
    min-height: 370px;
    float: left;
    margin-right: 60px;
}

.red-features-block {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}

.red-feature-box:last-of-type {
    margin-right: 0;
}

.red-feature-box h3 {
    font-size: 35px;
    font-weight: 300;
    margin: -4px 0 45px 0;
    padding: 0px 20px;
    line-height: 35px;
}

.red-feature-box p {
    font-family: narrow-regular,sans-serif;
    font-size: 23px;
    line-height: 29px;
    padding: 0 15px;
}
