.main-thumb {
    margin-bottom: 15px;
}

.testimonial-box {
    margin-bottom: 50px;
    overflow: hidden;
}

.testimonial-main-info-box {
    width: 241px;
    float: left;
    margin-right: 60px;
}

.testimonial-main-info-box h2 {
    margin: 0 0 2px 0;
    font-size: 19px;
}

.testimonial-main-info-box .desc {
    display: inline-block;
    margin-bottom: 13px;
}

.btn-see-full-main-image {
    display: block;
    padding: 8px 23px;
    color: #fff;
    background: #92a8d1;
    position: relative;
}

.btn-see-full-main-image:hover {
    background: #7e95bf;
}

.btn-see-full-main-image i {
    display: block;
    width: 7px;
    height: 16px;
    position: absolute;
    right: 19px;
    top: 9px;
    background: url('assets/images/testimonials/arrow-right.png') no-repeat;
}

.testimonials-body-box {
    position: relative;
    width: 899px;
    float: left;
}

.wave-line {
    clear: both;
    margin: 77px 0;
    width: 100%;
    height: 7px;
    background: url('assets/images/testimonials/divider-waves-line.png') no-repeat;
}

.wave-line:last-of-type {
    display: none;
}

.testimonials-section div.testimonial-box:last-of-type {
    margin-bottom: 40px;
}

.pagination {
    text-align: center;
}

.testimonials-body-box .author-name {
    margin: 0;
    text-transform: uppercase;
    font-size: 17px;
}

.testimonial-photo-box h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.testimonial-text {
    margin-bottom: 23px;
}

.thumb-box {
    position: relative;
}

.label-3d {
    display: block;
    width: 93px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('assets/images/testimonials/admin-3d-3d.png') no-repeat;
}

.photo-in-testimonial {
    position: relative;
    display: inline-block;
    margin-right: 12px;
}

.testimonials-section {
    margin-top: 26px;
}

.testimonial-date {
    position: absolute;
    right: 0;
    top: -2px;
    font-size: 18px;
    letter-spacing: 1px;
}

.photo-in-testimonial:hover {
    opacity: 0.8;
}

.photo-in-testimonial i {
    display: block;
    position: absolute;
    right: 4px;
    bottom: 3px;
    width: 33px;
    height: 34px;
    background: url('assets/images/testimonials/zoom.png') no-repeat;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.pagination {
    margin-bottom: 53px;
    text-align: center;
    clear: both;
    padding-top: 30px;
    font-weight: bold;
}

.pagination a {
    margin: 0 10px;
    font-style: normal;
    color: #96969a;
    border-bottom: 2px solid #cfcfd1;
}

.pagination span {
    font-style: normal;
    color: #000;
    margin: 0 10px;
}

.page-numbers .p-left,
.page-numbers .p-right {
    display: inline-block;
    height: 16px;
    width: 8px;
}

.page-numbers.prev,
.page-numbers.next {
    border: none;
}

.page-numbers  .p-left {
    background: url('assets/images/testimonials/arrow-left-gray.png') no-repeat;
}

.page-numbers .p-right {
    background: url('assets/images/testimonials/arrow-right-gray.png') no-repeat;
}

.testimonials-body-box
    .author-name
        font-family 'MyriadPro-BoldCond', sans-serif
        font-size 19px
        font-weight normal
    .testimonial-date
        font-family 'MyriadPro-Cond', sans-serif
        font-size 19px
        letter-spacing normal