div#sidebar {
  display: none;
}

/* form[name='checkout'] {
  padding-left: 20px;
} */

/* .cart__item {
  margin-left: 50px;
  margin-right: 50px;
} */

table.shop_table.woocommerce-checkout-review-order-table {
  width: auto;
}

.sidebar.sidebar-menu {
  float: left;
}

a.header-top__number-phone {
  display: inline-block;
  overflow: visible!important;
  vertical-align: top;
}

button.header-top__phone-call {
  text-align: center;
  margin-right: 20px;
}

a.header-top__address.header__link {
  width: 250px;
}

.breadcrumbs {
  font-size: 16px!important;
}

.footer__item.social-menu {
  float: right;
}

button.btn_blue.product__btn-buy {
  border: none;
}

ol.flex-control-nav.flex-control-thumbs {
  display: none;
}

form.cart .quantity {
  display: none;
}

button.btn_blue.product__btn-buy {
  margin-bottom: 40px;
}

p.return-to-shop {
  margin-bottom: 30px;
}

input#place_order {
  border: none;
}

div#payment {
  display: none!important;
}

p#order_comments_field label {
  display: none!important;
}

.product__size p {
  display: inline;
}

.container.footer__item.footer__menu {
  float: left;
}
